#ball{
    border: 3px solid red;
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    top: 200px;
    left: 590px;
    position: relative;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#base{
    border: 3px solid black;
    background-color: black;
    height: 100px;
    margin-top: 200px;
}

@keyframes bounce {
    0%{
        bottom: 50px;
    }
    25%{
        bottom: 50px;
    }
    50%{
        top: 50px;
    }
    75%{
        bottom: 50px;
    }

    
}