div{
    border: 2px solid black;
    padding: 60px 80px 60px 80px;
    background-color: aqua;
}
p{
    /* border: 2px solid black; */
    border-width: 10px;
    border-style: double;
    border-color: black;
    /* border-radius: 25px; */
    border-right-color: red;
    border-top-style: none;
    /* border-bottom-style: none; */
    border-left-style: none;
    border-top-right-radius: 15px;
    padding: 10px 10px 10px 10px;
    height: 150px;
    width: 250px;
    display: inline-block;
    background-color:aqua;
    
}
#div-content-2{
    padding: 40px 60px 40px 60px;
    background-color: yellow;
}
#p1{
    margin-left: 15px;
}
#p2{
    margin-left: 60px;
}
#p3{
    margin-left: 60px;
}