#maindiv{
    border: 1px solid black;
    position: relative;
}
#bgdiv{
    border: 1px solid black;
    height: 100vh;
    background-image: url("../image/puppies-7331739_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
}
#content{
    border: 1px solid black;
    position: absolute;
    left: 0px;
    top: 50px;
    text-align: center;
}