p{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    background-color: aqua;
    transition: 5s;
    
}

p:hover{
    /* transform: translate(250px, 250px); */
    /* transform: translate(250px); */
    /* transform: scale(1.5,1.5); */
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    /* transform: skew(30deg,30deg); */
    /* transform: skewx(30deg); */
    /* transform: skewY(30deg); */
    /* transform: rotate(-360deg); */
    /* transform: rotateX(80deg); */
    /* transform: rotateY(80deg); */
    /* transform: rotateZ(80deg); */
    box-shadow: 12px 12px 15px red;
}

button{
    color: brown;
    background-color: burlywood;
    height: 100px;
    width: 200px;
    transition: 5s;
}
button:hover{
    transform: scale(1.1,1.1);
    background-color: aliceblue;
}

#cir1{
    border: 20px solid black;
    border-radius: 100px;
    border-top-color: blue;
    height: 100px;
    width: 100px;
    padding: 10px;
    transition: 2s;    
}
#cir1:hover{
    transform: rotate(360deg);
    background-color: aqua;
}
