body{
    font-family: sans-serif;
    color: #926239;
}
section{
    line-height: 30px;
}
#mainframe-div{
    /* border: 2px solid black; */
    height: 70vh;
}

#subcontent-div-1{
    /* border: 2px solid black; */
    margin-top: 260px;
    line-height: 28px;
    margin-left: 6px;
}

h1{
    text-align: center;
    font-size: 51px;
    font-weight: bold;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
#para-1{
    text-align: center;
    font-size: 25px;
    font-size: 20px;
    line-height: 31px;
}
#para-2{
    text-align: center;
    margin-top: 33px;
    
}
a{
    border: 1px solid rgb(146,98,57);
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 18px;
}
a:active,a:visited,a:link{
    color: rgb(146,98,57);
}
a:hover {
    background-color: rgb(146,98,57);
    color: white;
}
#section-1{
    background-color: rgb(146,98,57);
    padding: 5px 15px;
    text-align: center;
    margin-top: 80px;
}
#para-3{
    color: white;
    padding: 0px;
    font-size: 16px;
}

#section-2{
    background-color: rgb(244,244,244);
    padding: 5px 15px;
    text-align: center;
}
#para-4{
    color: rgb(146,98,57);
    padding: 0px;
    font-size: 16px;
}
#section-3{
    padding: 0px;
    background-color: rgb(146,98,57);
}
#div-sec-1,#div-sec-3{
    display: inline-block;
    padding: 20px;
    height: 90px;
    width: 399px;
    color: rgb(244,244,244);
}
#div-sec-2{
    display: inline-block;
    padding: 20px;
    height: 90px;
    width: 399px;
    background-color: rgb(244,244,244);
    color: rgb(146,98,57);
}